/* Change the background color of the whole site */
.bg-background {
    background: #f9f6f1 !important;
}

/* Make all headings use a special font and be bold */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", "Courier New", monospace !important;
    font-weight: bold !important;
}

/* Give different heading levels different colors */
h1, h4 {
    color: #d30c7b !important;  /* Pink */
}

h2, h5 {
    color: #ba5a31 !important;  /* Orange */
}

h3, h6 {
    color: #508484 !important;  /* Teal */
}
