/* Change the background color of the whole site */
html, body {
    background-color: #8aa0d5 !important;
}


/* Make all headings use a special font and be bold */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", "Courier New", monospace !important;
    font-weight: bold !important;
}

/* Give different heading levels different colors */
h1, h4 {
    color: #d30c7b !important;  /* Pink */
}

h2, h5 {
    color: #ba5a31 !important;  /* Orange */
}

h3, h6 {
    color: #508484 !important;  /* Teal */
}
/* The main welcome section container */
.hero {
  background-color: #508484;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 36px;
}

/* The main title */
.hero-title {
  font-size: 4rem;
  color: #E35AA6 !important;
  margin-bottom: 0px;
  display: block !important;  /* Required for h1 tags in custom components */
}

/* The description text */
.hero-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* The button style */
.hero-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* What happens when you hover over the button */
.hero-button:hover {
  background-color: #D679AC;
  color: #fff;
}
